
@font-face {
  font-family: 'Poppins-Regular';
  src: url('/assets/fonts/Poppins/Poppins-Regular.otf') format('opentype');
}
@font-face {
  font-family: 'Poppins-Bold';
  src: url('/assets/fonts/Poppins/Poppins-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Poppins-ExtraLight';
  src: url('/assets/fonts/Poppins/Poppins-ExtraLight.otf') format('opentype');
}

//
//// Custom Fonts
//@font-face {
//  font-family: 'interReg';
//  src: url('/assets/fonts/Inter/Inter-Regular.ttf') format('truetype');
//}
//@font-face {
//  font-family: 'interSemiBold';
//  src: url('/assets/fonts/Inter/Inter-SemiBold.ttf') format('truetype');
//}
//@font-face {
//  font-family: 'interBold';
//  src: url('/assets/fonts/Inter/Inter-Bold.ttf') format('truetype');
//}
//@font-face {
//  font-family: 'myriadReg';
//  src: url('/assets/fonts/MYRIADPRO-REGULAR.OTF') format('opentype');
//}
