//Colors
$pink: #FF1F9E;
$purple: #6236FF;
// $background-color: rgb(62,100,130);
$background-color: black;
$primary-background-color: rgb(62,100,130);
$primary-color: white;
$button-color: rgba(black, .7);
$highlight-color: #85bb65;
$primary-shade-color: #f8f8f8;
$secondary-background-color: $purple;

$left-padding: 1vh;
