<header id="mainHeader">
  <div class="container">
    <nav class="navbar-regular">


      <a href="#" class="logo">
        <img class="large-logo-white" src="assets/images/logo/logo_green_white_text.svg" alt="" >
        <img class="large-logo-black" src="assets/images/logo/logo_green_black_text.svg" alt="" >
        <img class="large-logo-mobile" src="assets/images/logo/logo_green.svg" alt="" >
      </a>
      <span class="navbar-toggle" id="js-navbar-toggle">
                        <i class="fas fa-bars"></i>
                    </span>

      <div class="main-nav" id="js-menu">
        <a class="nav-link about" href="https://www.cdc.gov/coronavirus/2019-ncov/summary.html" >About</a>
        <a class="nav-link contact" href="https://wwwn.cdc.gov/dcs/ContactUs/Form" >Contact</a>
        <a class="nav-link button login" href="#" >Log In</a>
        <a class="nav-link button signup" href="#" >Sign up</a>
      </div>

    </nav>
  </div>
</header>
